@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$custom-colors: (
  "primary": #207BFF,
  "primary-light": #4EA5FF,
  "primary-pastel": #95BDE5,
  "primary-toned": #9DC8F2,
  "secondary": #FF9C26,
  "secondary-light": #FFAF4F,
  "secondary-pastel": #F2D7B6,
  "secondary-toned": #F2CC9D,
  "danger": #832232,
  "success": #327926,
  "white": #F5F7FA,
  "black": #191717
);

$theme-colors: map-remove($theme-colors, "info", "light", "dark");
$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

a:hover {
  transform: scale(1.1);
  color: #FF9C26!important;
}

.svg-primary {
  filter: invert(61%) sepia(31%) saturate(4569%) hue-rotate(189deg) brightness(102%) contrast(103%);
}

.svg-secondary {
  filter: invert(88%) sepia(21%) saturate(5114%) hue-rotate(322deg) brightness(106%) contrast(101%);
}

#search-icon {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.weather-card-img {
  width: 120px;
  height: 120px;
}

.little-card-img {
  width: 30px;
  height: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Original source: https://subtlepatterns.com/grid-me/) */
$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;


@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}

@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}

body {  
  color: #999;
  text-align: center;
  background: url($bg-url) repeat 0 0;
  
  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
}

@media screen and (min-width: 992px) {
  .next-days-forecast {
    width: 420px!important;
  } 
  
  .weather-card {
    width: 396px!important;
  }
}